{{- $key := .Get "key" -}}
{{- $text := .Get "text" -}}
{{- if not $key -}}
  {{- errorf "site-link shortcode requires key param" -}}
{{- end -}}
{{- $links := site.Data.site_links -}}
{{- $url := "" -}}
{{- with $links -}}
  {{- $url = index . $key -}}
{{- end -}}
{{- if not $url -}}
  {{- errorf "site-link key %q not found in data/site_links.yaml" $key -}}
{{- end -}}
{{- if not $text -}}
  {{- $text = $url -}}
  {{- if hasPrefix $text "mailto:" -}}
    {{- $text = replace $text "mailto:" "" -}}
  {{- else if hasPrefix $text "https://" -}}
    {{- $text = replace $text "https://" "" -}}
  {{- else if hasPrefix $text "http://" -}}
    {{- $text = replace $text "http://" "" -}}
  {{- end -}}
{{- end -}}
<a href="{{ $url | safeURL }}">{{ $text }}</a>
